/*================================================================================
	Item Name: Frest HTML Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

@import "../../src/scss/core/variables/variables";

/*CUSTOM I3 COMPONENTS*/
@import "I3-components/tabs";

/*FREST COMPONENTS STYLE OVERRIDES*/
/*Currently overriding styles with body parent in stead of importants everywere*/
body {
	// DASHBOARD SPECIFIC
	&.dashboard-layout-1 {
		.widget-timeline {
			height: 280px;
		}
	}
	//AUTH
	&.page-auth {
		.card {
			&.bg-authentication {
				min-height: 600px;
				display: flex; 
			}
		}
		img.img-auth {
			max-width: 75%;
		}
	}
	&.page-app-repository {
		.app-file-sidebar-content {
			padding-top: 4.5rem !important;		}
	}
	// SIDEMENU
	.main-menu{

		.navbar-header {
			.navbar-brand {
				.brand-logo {
					background: url("../../app-assets/images/logo/logo-i3.png") no-repeat;
					background-size: contain;
					margin-left: 6px;
				  }
			}
		}
		.navigation > li.active:not(.sidebar-group-active) > a {
			border-radius: 5rem !important;
			.menu-title {
				color: $secondary;
			}

		}
		.navigation > li.nav-item.open.has-sub.open {
			border-radius: 1rem !important;
		}

		.navigation .menu-content > li > a > i {
			width: 1.6rem !important;
			margin-right: 1rem;
			float: left;
		}

		.navigation-main {
			li.nav-item {
				&:hover {
					.menu-title {
						color: $secondary;
					}
				}
			}
		}
		.nav-toggle {
			.toggle-icon {
				color: $gray-40 !important;
			}
		}
	}
	// NAVBAR - HEADER
	.header-navbar {
		.dropdown-notification .dropdown-menu-header {
			background-color: $tertiary;
		}
	}

	// Activity Card Content
	.activity-content{
		margin-bottom: 2.13rem;
	}

	//CARDS - WIDGETS
	.card {
		&.card-flex-column {
			display: flex; 
			flex-direction: column;
			flex: 1;
			.card-content {
				display: flex;
				flex: 1;
				.card-body {
					flex: 1;
					display: flex;
				}
			}
		}
		.card-footer {
			ul.legend {
				list-style: none;
				padding-left: 0px;
					li {
						margin-right: 0.5rem;
						.label {
							font-size: 1rem;
							margin-bottom: 5px;
						}
						.indicator {
							margin-right: 0.253rem;
						}
					}
			}
		}
	}
	// BOOKMARK NAVIGATION
	.bookmark-icons {
		.nav-item {
			&.active {
				.nav-link i {
					color: $primary !important;
				}
			}
		}
	}

	// NAV PILLS
	.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
		background-color: $secondary;
	}
	
	//PACE LOADER
	.pace .pace-progress {
		background-color: $tertiary;
	}

	// BUTTONS 
	.btn-group-vertical{
		.btn {
			border-radius: $border-radius;
		}
	}

	// DROPDOWNS
	.dropdown-item {
		&:focus, &:active, &.active {
			background-color: $tertiary;
		}
	}

	// FORMS
	label {
		margin-bottom: 0.5rem;
	}
	input {
		&.form-control {
			&.round{
				padding-left: 25px;
			}
		}

	}
	select {
		&.form-control {
			&.round{
				padding-left: 25px;
			}
		}

	}
	.has-icon-left {
		input {
			&.form-control {
				padding-left: 2.5rem;
			}
		}
	}
	.form-control, .custom-select, .optgroup {
		&:focus, &:active, &.active {
			border-color: rgba($secondary, 0.2);
			box-shadow: 0 0px 10px 0 rgba($secondary, 0.2);
		}
	}	

	// Authentication Pages
	&.bg-full-screen-image {
		background: url(../../assets/images/pages/auth-bg.jpg);
	}

	//Tables
	#section-table-devices, #section-table-groups, #section-table-policies {
		.card {
			.card-header {
				padding-bottom: 0px;
			}
			.heading-elements {
				// position: relative;  
				// padding-left: 0px;
				// padding-right: 0px;
				// padding-top: 12px;
				// padding-bottom: 6px;
				// top: auto; 
				// right: auto;

				a, .heading-elements-toggle a {
					padding-left: 1.5rem;
				}
				.table-actions {
					display: flex; 
					flex: 1;
					> * {
						margin-right: 10px;
						&:last-child {
							margin-right: 0px;
						}
					}
					.btn-refresh {
						font-size: 18px;
					}
					// .actions-left {}
					// .actions-right {
					// 	margin-left: auto;
					// }

				}
			}
		}
		table {
			.device-name, .group-name, .policy-name {
				font-weight: 600;
			}
			.group-image, .policy-image, .device-image {
				margin-right: 1.25rem;
				border-radius: 100%;
			}
			th {
				i {
					display: inline-block;
					vertical-align: sub;
					margin-right: 6px;
					margin-left: 6px;
				}
			}
			td {
				&.dt-checkboxes-cell {
					padding-right: 0px;
				}
				&.device-group {
					max-width: 200px;
					span {
						&:before {
							content: ", ";
							display: inline-block;
							white-space: pre;
						}
					}
		
					span:first-child {
							&:before {
								content: none;
							}
					}
				}
				// &.device-actions, &.group-actions, &.policy-actions {
				// 	// text-align: center;
				// }
			}
		}

		//DATATABLES ORDER HIGHLIGHT TH
		table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc {
			color: $primary;
			i {
				color: $primary;
			}
		}
		// DATATABLES SELECT HIGHLIGHT
		table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
			background-color: #e1e2e8;
		}
		table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
			color: #75758d;
			border-color: #75758d;
			i {
				color: #75758d;
			}
		}
		table.dataTable.order-column tbody>tr.selected>.sorting_1, table.dataTable.order-column tbody>tr.selected>.sorting_2, table.dataTable.order-column tbody>tr.selected>.sorting_3, table.dataTable.order-column tbody>tr>.selected, table.dataTable.display tbody>tr.selected>.sorting_1, table.dataTable.display tbody>tr.selected>.sorting_2, table.dataTable.display tbody>tr.selected>.sorting_3, table.dataTable.display tbody>tr>.selected {
			background-color: rgba($secondary, 0);
		}	

		//DATATABLES RESPONSIVE
		table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
			top: 0;
			bottom: 0;
			margin: auto;
			left: 2px;
			height: 20px;
			width: 20px;
			color: white;
			border-radius: 20px;
			border-color: #DFE3E7;
			color:  #DFE3E7;
			box-shadow: none;
			font-size: 16px;
			line-height: 22px;
			border-width: 1px;
			font-weight: 200;
			background-color: transparent;
			&:hover {
				background-color: #75758d;
				color: white;
			}
		}
		table.collapsed {
			.dtr-details {
				display: flex;
				flex-direction: column;
				width: 100%;
				> li {
					display: flex;
					justify-content: space-between;
				}
				.dtr-title {
					margin-right: 1.25rem;
					.bx {
						margin-right: 0.50rem;
					}
				}
				.dtr-data {
					margin-left: auto;
				}
			}
		}
		table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
			background-color: $primary;
		}
		.page-actions {
			padding: 12px 24px;
			display: flex; 
			flex: 1;
			justify-content: flex-end;
			> * {
				margin-right: 12px;
			}
			&:last-child {
				margin-right: 0px;
			}
		}
	}

}
