/*================================================================================
	Item Name: Frest HTML Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
/*CUSTOM I3 COMPONENTS*/
/*FREST COMPONENTS STYLE OVERRIDES*/
/*Currently overriding styles with body parent in stead of importants everywere*/
body.dashboard-layout-1 .widget-timeline {
  height: 280px; }

body .main-menu .navbar-header .navbar-brand .brand-logo {
  background: url("../../app-assets/images/logo/logo-i3.png") no-repeat;
  background-size: contain;
  margin-left: 6px; }

body .main-menu .navigation > li.active:not(.sidebar-group-active) > a {
  border-radius: 5rem !important; }
  body .main-menu .navigation > li.active:not(.sidebar-group-active) > a .menu-title {
    color: #F49800; }

body .main-menu .navigation > li.nav-item.open.has-sub.open {
  border-radius: 1rem !important; }

body .main-menu .navigation .menu-content > li > a > i {
  width: 1.6rem !important;
  margin-right: 1rem;
  float: left; }

body .main-menu .navigation-main li.nav-item:hover .menu-title {
  color: #F49800; }

body .main-menu .nav-toggle .toggle-icon {
  color: rgba(163, 175, 189, 0.4) !important; }

body .header-navbar .dropdown-notification .dropdown-menu-header {
  background-color: #FFBF00; }

body .activity-content {
  margin-bottom: 2.13rem; }

body .card.card-flex-column {
  display: flex;
  flex-direction: column;
  flex: 1; }
  body .card.card-flex-column .card-content {
    display: flex;
    flex: 1; }
    body .card.card-flex-column .card-content .card-body {
      flex: 1;
      display: flex; }

body .card .card-footer ul.legend {
  list-style: none;
  padding-left: 0px; }
  body .card .card-footer ul.legend li {
    margin-right: 0.5rem; }
    body .card .card-footer ul.legend li .label {
      font-size: 1rem;
      margin-bottom: 5px; }
    body .card .card-footer ul.legend li .indicator {
      margin-right: 0.253rem; }

body .bookmark-icons .nav-item.active .nav-link i {
  color: #ED6D05 !important; }

body .nav-pills .nav-link.active, body .nav-pills .show > .nav-link {
  background-color: #F49800; }

body .pace .pace-progress {
  background-color: #FFBF00; }

body .btn-group-vertical .btn {
  border-radius: 0.267rem; }

body .dropdown-item:focus, body .dropdown-item:active, body .dropdown-item.active {
  background-color: #FFBF00; }

body label {
  margin-bottom: 0.5rem; }

body input.form-control.round {
  padding-left: 25px; }

body select.form-control.round {
  padding-left: 25px; }

body .has-icon-left input.form-control {
  padding-left: 2.5rem; }

body .form-control:focus, body .form-control:active, body .form-control.active, body .custom-select:focus, body .custom-select:active, body .custom-select.active, body .optgroup:focus, body .optgroup:active, body .optgroup.active {
  border-color: rgba(244, 152, 0, 0.2);
  box-shadow: 0 0px 10px 0 rgba(244, 152, 0, 0.2); }

body.bg-full-screen-image {
  background: url(../../assets/images/pages/auth-bg.jpg); }
