$icomoon-font-family: "i3icon" !default;
$icomoon-font-path: "../../assets/fonts/i3/" !default;

$i3-icon-allsync-magnifying-glass: "\e900";
$i3-icon-allsync-presentation-mode: "\e901";
$i3-icon-allsync-refresh: "\e902";
$i3-icon-allsync-screen: "\e903";
$i3-icon-allsync-thrash: "\e904";
$i3-icon-allsync-video-mode: "\e905";
$i3-icon-app-3dcontent: "\e906";
$i3-icon-app-academy: "\e907";
$i3-icon-app-activities: "\e908";
$i3-icon-app-activity-builder: "\e909";
$i3-icon-app-annotate: "\e90a";
$i3-icon-app-apps: "\e90b";
$i3-icon-app-audio: "\e90c";
$i3-icon-app-camera: "\e90d";
$i3-icon-app-collaborate: "\e90e";
$i3-icon-app-colourfill: "\e90f";
$i3-icon-app-compass: "\e910";
$i3-icon-app-deletedrawing: "\e911";
$i3-icon-app-eraser: "\e912";
$i3-icon-app-extras: "\e913";
$i3-icon-app-filesharing: "\e914";
$i3-icon-app-geotriangle: "\e915";
$i3-icon-app-graph-1: "\e916";
$i3-icon-app-graph-2: "\e917";
$i3-icon-app-graph-3: "\e918";
$i3-icon-app-graph-4: "\e919";
$i3-icon-app-graph-5: "\e91a";
$i3-icon-app-hashtag: "\e91b";
$i3-icon-app-help: "\e91c";
$i3-icon-app-iframepointer: "\e91d";
$i3-icon-app-image: "\e91e";
$i3-icon-app-insert: "\e91f";
$i3-icon-app-integrations: "\e920";
$i3-icon-app-lessons-1: "\e921";
$i3-icon-app-lessons-2: "\e922";
$i3-icon-app-library-alt-2: "\e923";
$i3-icon-app-link: "\e924";
$i3-icon-app-list: "\e925";
$i3-icon-app-marker: "\e926";
$i3-icon-app-marketplace: "\e927";
$i3-icon-app-mathtools: "\e928";
$i3-icon-app-multitool: "\e929";
$i3-icon-app-multiuser: "\e92a";
$i3-icon-app-opacity: "\e92b";
$i3-icon-app-pen: "\e92c";
$i3-icon-app-pencil: "\e92d";
$i3-icon-app-pipet: "\e92e";
$i3-icon-app-pointer: "\e92f";
$i3-icon-app-qr: "\e930";
$i3-icon-app-quickquiz: "\e931";
$i3-icon-app-ruler: "\e932";
$i3-icon-app-sessionsharing: "\e933";
$i3-icon-app-shadescreen: "\e934";
$i3-icon-app-shape-arrow: "\e935";
$i3-icon-app-shape-bubble: "\e936";
$i3-icon-app-shape-cilinder: "\e937";
$i3-icon-app-shape-circle: "\e938";
$i3-icon-app-shape-cube: "\e939";
$i3-icon-app-shape-curve: "\e93a";
$i3-icon-app-shape-diamond: "\e93b";
$i3-icon-app-shape-divide: "\e93c";
$i3-icon-app-shape-ellipse: "\e93d";
$i3-icon-app-shape-halfcircle: "\e93e";
$i3-icon-app-shape-hexagon: "\e93f";
$i3-icon-app-shape-line-app: "\e940";
$i3-icon-app-shape-parallellogram: "\e941";
$i3-icon-app-shape-pentagon: "\e942";
$i3-icon-app-shape-pyramid: "\e943";
$i3-icon-app-shape-rectangle: "\e944";
$i3-icon-app-shapes: "\e945";
$i3-icon-app-shape-square: "\e946";
$i3-icon-app-shape-star: "\e947";
$i3-icon-app-shape-trapezium: "\e948";
$i3-icon-app-shape-triangle-1: "\e949";
$i3-icon-app-shape-triangle-2: "\e94a";
$i3-icon-app-shape-triangle-3: "\e94b";
$i3-icon-app-spotlight: "\e94c";
$i3-icon-app-sticky: "\e94d";
$i3-icon-app-strokes: "\e94e";
$i3-icon-app-styles-default: "\e94f";
$i3-icon-app-styles-document: "\e950";
$i3-icon-app-styles-personal: "\e951";
$i3-icon-app-table: "\e952";
$i3-icon-app-templates: "\e953";
$i3-icon-app-templates-1: "\e954";
$i3-icon-app-thumbsdown: "\e955";
$i3-icon-app-thumbsup: "\e956";
$i3-icon-app-type: "\e957";
$i3-icon-app-type-aligncenter: "\e958";
$i3-icon-app-type-alignleft: "\e959";
$i3-icon-app-type-alignright: "\e95a";
$i3-icon-app-type-bold: "\e95b";
$i3-icon-app-type-italic: "\e95c";
$i3-icon-app-type-underline: "\e95d";
$i3-icon-app-validation-check: "\e95e";
$i3-icon-app-validation-cross: "\e95f";
$i3-icon-app-video: "\e960";
$i3-icon-cair-carbondioxide: "\e961";
$i3-icon-cair-humidity: "\e962";
$i3-icon-cair-particlematter: "\e963";
$i3-icon-cair-symbol: "\e964";
$i3-icon-cair-temperature: "\e965";
$i3-icon-features-4k: "\e966";
$i3-icon-features-4-split-screen: "\e967";
$i3-icon-features-8-year-warranty: "\e968";
$i3-icon-features-annotate: "\e969";
$i3-icon-features-anti-glare-glass: "\e96a";
$i3-icon-features-browser-integrated: "\e96b";
$i3-icon-features-cameralens: "\e96c";
$i3-icon-features-chargestation: "\e96d";
$i3-icon-features-cloud-storage: "\e96e";
$i3-icon-features-color-pens-outline: "\e96f";
$i3-icon-features-color-pens-solid: "\e970";
$i3-icon-features-conference: "\e971";
$i3-icon-features-craftsmanship: "\e972";
$i3-icon-features-c-sense: "\e973";
$i3-icon-features-energy-costs: "\e974";
$i3-icon-features-energy-efficient: "\e975";
$i3-icon-features-fullhd: "\e976";
$i3-icon-features-gesture: "\e977";
$i3-icon-features-glide-surface: "\e978";
$i3-icon-features-i3allsync: "\e979";
$i3-icon-features-infrared: "\e97a";
$i3-icon-features-intelligent-touch: "\e97b";
$i3-icon-features-lamp: "\e97c";
$i3-icon-features-launcher: "\e97d";
$i3-icon-features-lowlight: "\e97e";
$i3-icon-features-mount: "\e97f";
$i3-icon-features-multi-device: "\e980";
$i3-icon-features-multiple-screen-sizes: "\e981";
$i3-icon-features-multi-user: "\e982";
$i3-icon-features-no-batteries: "\e983";
$i3-icon-features-no-subscription-fees: "\e984";
$i3-icon-features-ops-slot: "\e985";
$i3-icon-features-ota: "\e986";
$i3-icon-features-portablehotspot: "\e987";
$i3-icon-features-pressure-sensitive-pen: "\e988";
$i3-icon-features-rotatable: "\e989";
$i3-icon-features-safety-glass: "\e98a";
$i3-icon-features-sustainability: "\e98b";
$i3-icon-features-touch-points: "\e98c";
$i3-icon-features-user-interface: "\e98d";
$i3-icon-features-video-conference: "\e98e";
$i3-icon-features-whiteboard: "\e98f";
$i3-icon-features-wi-fi: "\e990";
$i3-icon-i3sixty-export: "\e991";
$i3-icon-i3sixty-import: "\e992";
$i3-icon-i3sixty-mobile-rotation: "\e993";
$i3-icon-i3sixty-mobile-stand: "\e994";
$i3-icon-i3touchex-multifunctionbutton: "\e995";
$i3-icon-launcher-connections-android: "\e996";
$i3-icon-launcher-connections-av: "\e997";
$i3-icon-launcher-connections-hdmi: "\e998";
$i3-icon-launcher-connections-ops: "\e999";
$i3-icon-launcher-connections-usb-c: "\e99a";
$i3-icon-launcher-connections-vga: "\e99b";
$i3-icon-launcher-genericapp: "\e99c";
$i3-icon-launcher-home: "\e99d";
$i3-icon-launcher-i3allsync-i3store: "\e99e";
$i3-icon-os-100-1: "\e99f";
$i3-icon-os-100-2: "\e9a0";
$i3-icon-os-add: "\e9a1";
$i3-icon-os-allfiles: "\e9a2";
$i3-icon-os-back: "\e9a3";
$i3-icon-os-cam: "\e9a4";
$i3-icon-os-caret-down: "\e9a5";
$i3-icon-os-caret-left: "\e9a6";
$i3-icon-os-caret-right: "\e9a7";
$i3-icon-os-caret-up: "\e9a8";
$i3-icon-os-close: "\e9a9";
$i3-icon-os-collapse: "\e9aa";
$i3-icon-os-copy: "\e9ab";
$i3-icon-os-delete: "\e9ac";
$i3-icon-os-document: "\e9ad";
$i3-icon-os-document-empty: "\e9ae";
$i3-icon-os-down: "\e9af";
$i3-icon-os-drag: "\e9b0";
$i3-icon-os-duplicate: "\e9b1";
$i3-icon-os-enter: "\e9b2";
$i3-icon-os-expand: "\e9b3";
$i3-icon-os-expand-2: "\e9b4";
$i3-icon-os-export: "\e9b5";
$i3-icon-os-fileexplorer: "\e9b6";
$i3-icon-os-filter: "\e9b7";
$i3-icon-os-filter-erase: "\e9b8";
$i3-icon-os-folder-1: "\e9b9";
$i3-icon-os-forward: "\e9ba";
$i3-icon-os-fullscreen: "\e9bb";
$i3-icon-os-hamburger: "\e9bc";
$i3-icon-os-home: "\e9bd";
$i3-icon-os-image: "\e9be";
$i3-icon-os-import: "\e9bf";
$i3-icon-os-livechat: "\e9c0";
$i3-icon-os-mic-mute: "\e9c1";
$i3-icon-os-mic-unmute: "\e9c2";
$i3-icon-os-minimize: "\e9c3";
$i3-icon-os-minus: "\e9c4";
$i3-icon-os-movedown: "\e9c5";
$i3-icon-os-moveup: "\e9c6";
$i3-icon-os-move-view: "\e9c7";
$i3-icon-os-myfiles: "\e9c8";
$i3-icon-os-navigateitems: "\e9c9";
$i3-icon-os-new: "\e9ca";
$i3-icon-os-newfolder: "\e9cb";
$i3-icon-os-open: "\e9cc";
$i3-icon-os-pagesettings: "\e9cd";
$i3-icon-os-play: "\e9ce";
$i3-icon-os-plus: "\e9cf";
$i3-icon-os-redo: "\e9d0";
$i3-icon-os-return: "\e9d1";
$i3-icon-os-save: "\e9d2";
$i3-icon-os-saveas: "\e9d3";
$i3-icon-os-search: "\e9d4";
$i3-icon-os-selection-delete: "\e9d5";
$i3-icon-os-selection-moreoptions: "\e9d6";
$i3-icon-os-selection-move: "\e9d7";
$i3-icon-os-selection-renew: "\e9d8";
$i3-icon-os-selection-rotate: "\e9d9";
$i3-icon-os-selection-scale: "\e9da";
$i3-icon-os-send: "\e9db";
$i3-icon-os-settings: "\e9dc";
$i3-icon-os-settings-1: "\e9dd";
$i3-icon-os-settings-2: "\e9de";
$i3-icon-os-settings-3: "\e9df";
$i3-icon-os-share: "\e9e0";
$i3-icon-os-shrink: "\e9e1";
$i3-icon-os-signout: "\e9e2";
$i3-icon-os-sound-mute: "\e9e3";
$i3-icon-os-sound-unmute: "\e9e4";
$i3-icon-os-stop: "\e9e5";
$i3-icon-os-support: "\e9e6";
$i3-icon-os-touch-1: "\e9e7";
$i3-icon-os-touch-2: "\e9e8";
$i3-icon-os-undo: "\e9e9";
$i3-icon-os-up: "\e9ea";
$i3-icon-os-zoomin: "\e9eb";
$i3-icon-os-zoomout: "\e9ec";
$i3-icon-os-zoom-region: "\e9ed";
$i3-icon-service-americanexpress: "\e9ee";
$i3-icon-service-bookwidgets: "\e9ef";
$i3-icon-service-creditcard: "\e9f0";
$i3-icon-service-dropbox: "\e9f1";
$i3-icon-service-facebook: "\e9f2";
$i3-icon-service-google: "\e9f3";
$i3-icon-service-googledrive: "\e9f4";
$i3-icon-service-klascement: "\e9f5";
$i3-icon-service-linkedin: "\e9f6";
$i3-icon-service-mastercard: "\e9f7";
$i3-icon-service-office365: "\e9f8";
$i3-icon-service-onedrive: "\e9f9";
$i3-icon-service-paypal: "\e9fa";
$i3-icon-service-pinterest: "\e9fb";
$i3-icon-service-smartschool: "\e9fc";
$i3-icon-service-twitter: "\e9fd";
$i3-icon-service-vimeo: "\e9fe";
$i3-icon-service-visa: "\e9ff";
$i3-icon-service-windows: "\ea00";
$i3-icon-service-wiretransfer: "\ea01";
$i3-icon-service-youtube: "\ea02";
$i3-icon-user-admin: "\ea03";
$i3-icon-user-alert-notification: "\ea04";
$i3-icon-user-bookmark: "\ea05";
$i3-icon-user-clock: "\ea06";
$i3-icon-user-followers: "\ea07";
$i3-icon-user-invite: "\ea08";
$i3-icon-user-link: "\ea09";
$i3-icon-user-linkedaccounts: "\ea0a";
$i3-icon-user-location: "\ea0b";
$i3-icon-user-lock: "\ea0c";
$i3-icon-user-mail: "\ea0d";
$i3-icon-user-payment-subscription: "\ea0e";
$i3-icon-user-preferences: "\ea0f";
$i3-icon-user-preferences-1: "\ea10";
$i3-icon-user-rating-0: "\ea11";
$i3-icon-user-rating-1: "\ea12";
$i3-icon-user-rating-2: "\ea13";
$i3-icon-user-rating-3: "\ea14";
$i3-icon-user-rating-4: "\ea15";
$i3-icon-user-rating-5: "\ea16";
$i3-icon-user-tour: "\ea17";
$i3-icon-user-unlock: "\ea18";
$i3-icon-user-user: "\ea19";
$i3-icon-user-views: "\ea1a";
$i3-icon-windowsink: "\ea1b";

